{% extends 'layout.html' %}

{% block header %}
{% block title %}Example Flask App{% endblock title %}
{% endblock header %}

{% block login %}{% endblock login %}

{% block nav %}
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmls='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
        <li class="breadcrumb-item"><a href="/about">About</a></li>
    </ol>
</nav>
{% endblock nav %}

{% block description %}
Welcome to this default Flask App feel free and look around!

If you see this <a href="mailto: bkuhlke@yahoo.com">email me</a>! :)
{% endblock description %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 22rem;">
                <h5 class="card-title">This is a Container</h5>
                <p class="card-text">Put something here like some links</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#">Click Me I Do Nothing</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
